venv/
__pycache__/
.streamlit/
*.pycbackend/data/
frontend/node_modules

# Docs / misc
Project_Documentation.md
alstom_document.md
architecture_diagram.html
problems.txt

# Backend
backend/benchmark.py
backend/data/
backend/test.py
backend/test2.py
backend/main.dist
backend/main.build

# Frontend
frontend/dist/
frontend/dist-python/
frontend/dist-electron/
frontend/build

# Scripts
build_desktop.ps1